h1 {
    text-align: center;
    background-color: lightblue;
    color: blue;
    margin: 0;
    padding: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
input {
    margin: 10px;
    padding: 10px;
    width: 200px;
}
button {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: darkblue;
}
p,div,li{
    color: red;
    background-color: yellow;
    padding: 10px;
}
::view-transition-image-pair {
    border: 2px solid red;
    border-radius: 10px;
}
*[title="obligatoire"] {
            color: red;
        }